<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/inicio"></ion-back-button>
    </ion-buttons>

    <ion-title>Media</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Imagen Responsiva</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-img src="https://tecolotito.elsiglodedurango.com.mx/i/2023/02/1148506.jpeg" alt="Imagen de ejemplo"></ion-img>


    <ion-header>
      <ion-toolbar>
        <ion-title>Video Responsivo</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content>
      <video controls>
        <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
        Tu navegador no soporta la etiqueta de video.
      </video>
    </ion-content>
    
  
  </ion-content>

  
  
</ion-content>
