<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button default-href="/inicio"></ion-back-button>
    </ion-buttons>

    <ion-title>Cards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list> 

    <ion-card color="light">
      <ion-card-header>
        <ion-card-title><strong> UTCV </strong></ion-card-title>
        <ion-card-subtitle>TIDSM 5°B</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        La mejor universidad de Cuitláhuac
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <img alt="America" src="https://th.bing.com/th/id/OIP.SrRg-5sG-Uv_mj3PRQMrbQHaEK?rs=1&pid=ImgDetMain" />
      <ion-card-header>
        <ion-card-title>América</ion-card-title>
        <ion-card-subtitle>Peñuela</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        🏆🏆🏆 TRICAMPEÓN 🏆🏆🏆
        
        América, otra vez, como siempre: ¡campeón de la Liga MX! 💙🦅💛
        …
        
        ¡Llegó la 16! ¡El mejor equipo en la historia!
        
        El más grande, pero lejos ✨
        
        NADA PASA POR CASUALIDAD 1️⃣6️⃣
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title><strong> Personajes de Jimmy Neutrón </strong> </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Carl Wheezer" src="https://th.bing.com/th/id/OIP.fDNCFXDnl3xNTd28pBeNFwHaIF?rs=1&pid=ImgDetMain" />
            </ion-thumbnail>
            <ion-label>Carl Wheezer</ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Sheen Estevez" src="https://th.bing.com/th/id/OIP.sMVas4yLEytfKlc7hDwjvgHaIi?rs=1&pid=ImgDetMain" />
            </ion-thumbnail>
            <ion-label>Sheen Estevez</ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Nick Dean" src="https://th.bing.com/th/id/OIP.UC5Lv60HCQSS6hFIQVa5jwAAAA?rs=1&pid=ImgDetMain" />
            </ion-thumbnail>
            <ion-label>Nick Dean</ion-label>
          </ion-item>
    
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="Ozuna" src="https://th.bing.com/th/id/OIP.vHjc5wOg2fOrgDHw7S6vCQAAAA?rs=1&pid=ImgDetMain" />
            </ion-thumbnail>
            <ion-label>Ozuna</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>


  </ion-list>
</ion-content>
